#mobile-only {
  background-color: var(--yellow);
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

@media screen and (max-width: 550px) {
  #mobile-only {
    display: none;
  }
}
