.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__noti {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.nav__findnoti {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 30px;
  top: -12px;
}

@keyframes notiAnimation {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: none;
  }
}

.nav__findnoti,
.badge,
.nav__noti {
  animation: notiAnimation 2s infinite;
}

@keyframes appearBtnAnimation {
  from {
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 1s forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.25s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:nth-child(4) {
  animation-delay: 0.75s;
}
