.screen-header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons {
  padding-right: 25px;
}
.screen-header__icons span {
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
  }

  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
