.screen-header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons {
  padding-right: 25px;
}
.screen-header__icons span {
  margin-left: 25px;
}
